<!DOCTYPE html>
<html>
<head>
    <title>HTML5 Server Side Event Example in Go</title>
    <link rel="stylesheet" href="http://localhost:5000/main.css" type="text/css">
</head>
<body>

    <table class="wrapper">
        <tr>
            <td>
                {{(call .RenderPagelet "searchPagelet")}}
            </td>
            <td>
                {{(call .RenderPagelet "recommendationPagelet")}}
            </td>
        </tr>
        <tr>
            <td>
                {{(call .RenderPagelet "profilePagelet")}}
            </td>
            <td>
                {{(call .RenderPagelet "adsPagelet")}}
            </td>
        </tr>
    </table>
    {{ if (call .PageletFunc)}}
    {{ end }}
</body>
</html>