<!DOCTYPE html>
<html>
<head>
    <title>HTML5 Server Side Event Example in Go</title>
    <link rel="stylesheet" href="http://localhost:5000/main.css" type="text/css">
</head>
<body>

    <table class="wrapper">
        <tr>
            <td id="searchPagelet">
            </td>
            <td id="recommendationPagelet">
            </td>
        </tr>
        <tr>
            <td id="profilePagelet">
            </td>
            <td id="adsPagelet">
            </td>
        </tr>
    </table>
    {{ if (call .PageletFunc)}}
    {{ end }}
</body>
</html>